<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Add Member</title>
</head>

<body>
    <div id="bg"></div>
    <div id="container">
        <div id="side">
            <h3>Library Management</h3>
            <br>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/members">
                    <li>Members</li>
                </a>
                <a href="/books">
                    <li>Books</li>
                </a>
                <a href="/loans">
                    <li>Loans</li>
                </a>
                <a href="/add_member">
                    <li id="online">Add Member</li>
                </a>
                <a href="/add_book">
                    <li>Add Book</li>
                </a>
                <a href="/new_loan">
                    <li>Add Loan</li>
                </a>
            </ul>
        </div>
        <div id="main">
            <h1>Add Member</h1>
            <div>

                <form action="/add_member" id="add_form" method="POST">
                    <label for="fname">*First Name :</label>
                    <input type="text" name="fname" id="fname" required>
                    <br><br>
                    <label for="lname">*Last Name :</label>
                    <input type="text" name="lname" id="lname" required>
                    <br><br>
                    <label for="ncode">*National Code :</label>
                    <input type="text" name="ncode" id="ncode" required>
                    <br><br>
                    <div style="display: flex; flex-direction: row;">
                        <label>*Phone Number :</label>
                        <div id="inputContainer" style="width: min-content; ">
                            <input type="text" name="textInputs[]" required />
                        </div>

                        <button type="button" onclick="addInput()" id="new_input" style="margin-left: 1rem;"><img
                                src="/static/images/plus.png" alt="" class="icon"></button>
                    </div>
                    <!-- <label for="number">*Phone Number :</label>
                    <input type="tel" name="number" id="number" required>
                    <br><br>
                    <label for="number2">Phone Number 2 :</label>
                    <input type="tel" name="number2" id="number2"> -->
                    <br><br>
                    <button type="submit" id="submit">Add Member</button>
                </form>
            </div>
        </div>

    </div>


<script>
    function addInput() {
        var inputContainer = document.getElementById('inputContainer');
        var newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.style.marginTop = "1rem";
        newInput.name = 'textInputs[]';
        inputContainer.appendChild(newInput);
    }
</script>
</body>


</html>