<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <form action="POST">
        <label for="title">Book Title :</label>
        <input type="text" name="" id="title">
        <label for="authors">Authors</label>
        <input type="text" name="" id="authors">
        <label for="publisher">Publisher</label>
        <input type="text" name="" id="publisher">
        <label for="volume">Volume</label>
        <input type="number" name="" id="volume">
        <label for="year">Publication Year</label>
        <input type="number" name="" id="year">
        <p>category</p>
        <p>address</p>
        <label for="quantity">Quantity</label>
        <input type="number" name="" id="quantity">


    </form>
</body>
</html>