<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <title>Book Profile</title>
</head>

<body>



    <div id="bg"></div>
    <div id="container">
        <div id="side">
            <h3>Library Management</h3>
            <br>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/members">
                    <li>Members</li>
                </a>
                <a href="/books">
                    <li>Books</li>
                </a>
                <a href="/loans">
                    <li>Loans</li>
                </a>
                <a href="/add_member">
                    <li>Add Member</li>
                </a>
                <a href="/add_book">
                    <li>Add Book</li>
                </a>
                <a href="/new_loan">
                    <li>Add Loan</li>
                </a>
            </ul>
        </div>
        <div id="main">
            <h1>{{book[0]}}.{{ book[1] }}</h1>
            <div>
                <div style="display: flex; flex-direction: row;">
                    <div style="width: 70%;" id="descriptions">
                        <p>ID: {{ book[0] }}</p>
                        <p>Title: {{ book[1] }}</p>
                        <p>Authors: {{ book[2] }}</p>
                        <p>Publisher: {{ book[3] }}</p>
                        <p>Volume: {{ book[4] }}</p>
                        <p>Publication Year: {{ book[5] }}</p>
                        <p>Category: {{ book[6] }}</p>
                        <p>Address: {{ book[7] }}</p>
                        <p>Quantity: {{ book[8] }}</p>
                    </div>

                    <div style="width: 30%;" class="buttons-div">
                        <button onclick="confirmDelete()">delete</button>
                        <button value="edit">edit</button>
                        <button value="loan">Loan Book</button>
                    </div>

                </div>


                <div>
                    {% if loans %}
                    <label for="members_table" id="table_label">loans</label>
                    <table id="members_table">
                        <thead>
                            <tr>
                                <th>Loan ID</th>
                                <th>Member</th>
                                <th>First name</th>
                                <th>Last Name</th>
                                <th>Loan Date</th>
                                <th>Due Date</th>
                                <th>Return Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for loan in loans %}
                            <tr>
                                <td>{{loan[0]}}</td>
                                <td>{{loan[1]}}</td>
                                <td>{{loan[2]}}</td>
                                <td>{{loan[3]}}</td>
                                <td>{{loan[4]}}</td>
                                <td>{{loan[5]}}</td>
                                {% if loan[6] %}
                                <td>{{loan[6]}}</td>
                                <td style="background-color: #80D79C; border: solid #75ba8b 1px;">Returned</td>
                                {% else %}
                                <td><button onclick="Return('{{loan[0]}},{{book[0]}},{{loan[1]}}')">Return</button></td>
                                {% if loan[5] < today %} <td
                                    style="background-color: #E09AA6; border: solid #b47b84 1px;">Overdue</td>
                                     {% else  %}
                                    <td></td>
                                    {% endif %}
                                    {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No loan.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>


    <script>
        function confirmDelete() {
            if (confirm("Are you sure to delete?")) {
                $.ajax({
                    url: '/delete_book',
                    data: { id: '{{ book[0] }}' },
                    type: 'POST',
                    success: function (response) {
                        alert('Book deleted successfully');
                        window.location.href = '/books';
                    }
                });
            }
        }
        function Return(loan_id, book_id, member_id) {
            if (confirm("Are you sure to Return Book?")) {
                $.ajax({
                    url: '/return_loan',
                    data: { loan_id: loan_id, book_id: book_id, member_id: member_id },
                    type: 'POST',
                    success: function (response) {
                        alert('Book Returned');
                        location.reload();
                    }
                });
            }
        }
    </script>

</body>

</html>