<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div>
        <form id="my-form" action="/members" method="post">
            <select name="orderby" id="orderby">
                {%if order=='id'%}
                <option value="id" selected>id</option>
                {%else%}
                <option value="id">id</option>
                {%endif%}
                
                {%if order=='loan_date'%}
                <option value="loan_date" selected>loan_date</option>
                {%else%}
                <option value="loan_date">loan_date</option>
                {%endif%}

                {%if order=='due_date'%}
                <option value="due_date" selected>due_date</option>
                {%else%}
                <option value="due_date">due_date</option>
                {%endif%}

                {%if order=='return_date'%}
                <option value="return_date" selected>return_date</option>
                {%else%}
                <option value="return_date">return_date</option>
                {%endif%}

            </select>
            <!-- <input type="search" name="search" id="search" value="{{search}}" autofocus> -->
        </form>
    </div>

    <div id="result">
        {% if rows %}
        <table id="members_table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book</th>
                    <th>Member</th>
                    <th>Loan Date</th>
                    <th>Due Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td><a href="/book/{{ row.id }}" target="_blank">{{row[1]}}</a></td>
                    <td><a href="/profile/{{ row.id }}" target="_blank">{{row[2]}}</a></td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td></td>


                    <!-- <td><a href="/book/{{ row.id }}">View Book</a></td> -->
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% else %}
        <p>No results found.</p>
        {% endif %}
    </div>

    <div>
        <a href="/add_loan">Add New loan</a>
    </div>

    <script>
        $(document).ready(function () {
            // رویداد change برای select و input اختصاص داده شده است
            $('#orderby').on('change input', function (event) {
                var form_data = $('#my-form').serialize();  // دریافت داده‌های فرم

                $.ajax({
                    url: '/loans',  // آدرس درخواست AJAX
                    data: form_data,  // ارسال داده‌های فرم به Flask
                    type: 'POST',
                    success: function (response) {
                        $('body').empty().append(response);
                        // input = document.getElementById("search")
                        // input.focus();
                        // input.setSelectionRange(input.value.length, input.value.length);
                    }
                });
            });
        });
    </script>
</body>

</html>